body
{
    margin: none;
    padding: none;
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    background-image: url("/image1.jpeg");
    /* filter: blur(10px); */
    /* -webkit-filter: blur(8px); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* background-size: 100% auto; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 30px;
    overflow-y: scroll;
}
.cogent
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.cogent img
{
    width: 150px;
}
.name
{
    width: calc(100%-100px);
    background-color: white;
    margin: 20px 0px;
}
.div1
{
    padding: 1px 20px 1px 20px;
    background-color: rgb(99, 66, 34);
}
.div2
{
    margin-top: 20px;
    padding: 1px 20px 1px 20px;
}
input
{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.p-div
{
    width: 60px;
    background-color: rgba(0, 0, 0, 0.104);
    border-radius: 3px;
}
.div-skills
{
    margin-top: 20px;
    padding: 1px 20px 1px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkdiv
{
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.checkdiv p
{
    padding-left: 10px;
}
.upload-btn
{
    background-color: rgb(99, 66, 34);
    margin: 5px;
    padding: 10px 24px;
    font-size: 14px;
    text-align: center;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px gray;
    border-radius: 5px;
    cursor: pointer;
}
input[type="file"]
{
    display: none;
}
.submit-div
{
    display: flex;
    align-items: center;
    justify-content: center;
}