body
{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/image1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% auto;
}
.register-btn
{
    background-color: #de8d3f;
    margin: 5px;
    padding: 20px 24px;
    font-size: 14px;
    text-align: center;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px gray;
    border-radius: 5px;
    cursor: pointer;
}
.register-btn:hover
{
    background-color: #de8c3fc4;
}
.wrap-container
{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: calc(100% - 300px);
    padding: 10px 20px 20px 20px;
    color: white;
}
.wrap-container h1
{
    font-size: 60px;
}
.wrap-container p
{
    font-size: 25px;
}
.wrap-container a
{
    text-decoration: none;
    color: white;
}